:root {
  --primary-color: #6c63ff;
  --secondary-color: #2575fc;
  --gradient-start: #4b3c42;
  --gradient-stop: #1a202c;
  --gradient-end: rgb(33,31,31)
  --text-dark: #333333;
  --text-white: #ffffff;
  --text-medium: #a0a0a0;
  --background-light: #f3f9fb;
  --link-color: #000000;
  --hover-primary: #ff7e5f;
  --border-color: #e9e9e9;
}

body {
  /* font-family: 'Poppins', sans-serif;
    color: var(--text-white); */
}

.container {
  /* max-width: 1200px; */
}

.banner {
  background: linear-gradient(
    to bottom,
    var(--gradient-start),
    var(--gradient-stop),
    var(--gradient-end)
  );
  color: white;
}

.mynavbar {
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.nav-link {
  /* color: white;
    font-weight: 700;
    font-size: 18px; */
}

.navbar-brand {
  /* color: white;
    font-size: 38px;
    font-weight: 700; */
}

.main-title {
  /* font-size: 72px;
  font-weight: 700; */
}

.subtitle {
  /* font-size: 25px;
  font-weight: 400; */
}

.main-btn {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  background-color: #6c63ff;
  padding: 15px 50px;
  border-radius: 35px;
}

.aboutus-img {
  margin-left: -330px;
}

.subtitle-style {
  color: #6c63ff;
  font-weight: 700;
  font-size: 24px;
}

.title-style {
  font-weight: 700;
  font-size: 48px;
}

.p-style {
  color: #666666;
  font-size: 18px;
  line-height: 1.55;
}

.link-style {
  font-weight: 700;
  color: black;
}

.service-image {
  border-radius: 50%;
  background-color: rgb(243, 249, 251);
  margin-top: 35px;
}

.service-img {
  margin-top: -100px;
}

.service-icon {
  background-color: #6c63ff;
  padding: 15px;
  width: 55px;
  border-radius: 50%;
}

.full-width-seciton {
  background-color: rgb(243, 249, 251);
}

.why-choose-img {
  margin-left: -125px;
}

.mycard {
  border-bottom: 3px solid #6c63ff;
}

.feature-icon {
  width: 60px;
  border-radius: 50%;
  background-color: #6c63ff;
  height: 60px;
  line-height: 3.5;
  text-align: center;
}

.totop {
  padding: 12px 15px;
  background-color: #6c63ff;
  color: white;
  border-radius: 5px;
  position: sticky;
  bottom: 20px;
  float: right;
  right: 10px;
  /* transition: 2s all ease; */
}

.blog-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.blog-card img {
  transition: all 0.4s ease-in-out;
}

.blog-card:hover img {
  transform: scale(1.1) rotate(-5deg);
}

.mycard {
  transition: all 0.4s;
}

.mycard:hover {
  margin-top: -20px;
}

.service-icon {
  transition: all 0.4s;
}

.service-card:hover .service-icon {
  margin-left: 30px;
}

/* Edited */
.container.bg-dark {
  /* margin-top: 1em; */
  background-color: transparent !important;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary.rounded {
  border: 1px solid hsl(0deg 0% 50% / 50%);
}

img.rounded.wow.bounceInUp {
    width: 100%;
 
    text-align: center;
    margin: 0 auto;
    display: block;
    /* margin-top: -15%; */
}

.col-lg {
    overflow: hidden;
    border-radius: 1em;
}

/* BACKGROUND VIDEO */



iframe {
  width: 100%;
  height: 100%;

  }
  #bgVideo {
    position: absolute;
    z-index: -999;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    right:0;
    left:0;
  }
  
  #bgVideo .iframe {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */
    /* z-index: -1; */
    /* width: 1920px; */
    right: 0;
    bottom: 0;
  }
  
  .gradient-edge {
    position: absolute;
    z-index: 1;
  }
  
  .left-edge, .right-edge {
    top: 0;
    height: 100%;
    width: 50%;
  }
  
  .bottom-edge {
    bottom: 0;
    height: 50%;
    width: 100%;
  }
  
  .left-edge {
    left: 0;
    background: linear-gradient(to right, #212529, transparent);
  }
  
  .right-edge {
    right: 0;
    background: linear-gradient(to left, #212529, transparent);
  }
  
  .bottom-edge {
    background: linear-gradient(to top, #212529, transparent);
  }
  @media (max-width: 576px) {
    body {
      /* width: 100%; */
      /* display: grid; */
      /* justify-content: space-between;
      justify-content: normal;
      position: absolute;
      width: unset; */
 
    }
    #bgVideo {
      position: absolute;
      z-index: -999;
      width: 1920px;
      height: 1080px;
      margin: 0 auto;
      right: 0;
      left: 0;
      margin-left: -150%;
      right: unset;
      left: unset;
          width: unset;
  }
}

@media (min-width: 992px) {
  body {
    /* width: 100%;
    display: grid; */


  }
  #bgVideo {
    position: absolute;
    z-index: -999;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    right: 0;
    left: 0;

}
}
  /* END BACKGROUND VIDEO */

  /* CARROUSEL CSS */
  div#carouselExampleCaptions {background: linear-gradient(180deg,#252525, transparent);/* background-position-y: -9em; */}

  
body {
  background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
  background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
  background: linear-gradient(45deg, #02e1ba 0%,hsl(192 65% 4% / 1) 29%,hsl(213 45% 20% / 1) 66%,hsl(37 50% 50% / 1) 100%);
  background-size: 200% 200%;
  -webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;
/*min-height: calc(100vh - 2rem);*/
/* display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-evenly;
overflow: hidden; */
/* position: relative;  */
}

body::before, 
body::after {
content: "";
width: 70vmax;
height: 70vmax;
position: absolute;
background: rgba(255, 255, 255, 0.07);
left: -20vmin;
top: -20vmin;
animation: morph 15s linear infinite alternate, spin 20s linear infinite;
z-index: 1;
will-change: border-radius, transform;
transform-origin: 55% 55%;
pointer-events: none; 
}

body::after {
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 20% 20%; 
}

@-webkit-keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@keyframes morph {
0% {
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
100% {
  border-radius: 40% 60%; } 
}

@keyframes spin {
to {
  transform: rotate(1turn); 
} 
}
.st0{display:none;}
.st1{display:inline;}
.st2{opacity:0.29;}
.st3{fill:#FFFFFF;}
.st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
.st5{clip-path:url(#SVGID_4_);}
.st6{clip-path:url(#SVGID_6_);}
.st7{clip-path:url(#SVGID_8_);}
.st8{clip-path:url(#SVGID_10_);}
.st9{fill:none;}
.st10{clip-path:url(#SVGID_12_);}
.st11{opacity:0.7;}
.st12{clip-path:url(#SVGID_14_);}
.st13{opacity:0.2;}
.st14{clip-path:url(#SVGID_16_);}
.st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}